*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI,sans-serif;
}

body{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

overflow:hidden;

background:linear-gradient(
180deg,
#021526,
#03346E,
#0B5ED7);

}

.background{

position:absolute;

width:100%;
height:100%;

background:
radial-gradient(circle at top,
rgba(255,255,255,.15),
transparent 60%);

}

.light{

position:absolute;

width:400px;

height:400px;

background:#4CC9FE;

filter:blur(120px);

opacity:.2;

}

.book-area{

position:relative;

perspective:2000px;

}

.book{

position:relative;

width:500px;

height:650px;

transform-style:preserve-3d;

animation:rise 2s ease forwards;

}

.cover{

position:absolute;

width:100%;
height:100%;

background:linear-gradient(
145deg,
#005792,
#012A4A);

border-radius:15px;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

color:white;

cursor:pointer;

transition:1.5s;

transform-origin:left;

box-shadow:0 20px 40px rgba(0,0,0,.4);

}

.cover h1{

font-size:52px;

}

.cover h2{

margin-bottom:30px;

}

.cover p{

opacity:.8;

}

.cover.open{

transform:rotateY(-160deg);

}

.page{

position:absolute;

width:100%;
height:100%;

background:#fffdf5;

border-radius:15px;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

padding:50px;

text-align:center;

}

.page h1{

color:#0B5ED7;

margin-bottom:20px;

}

.page p{

font-size:18px;

line-height:32px;

color:#333;

}

button{

margin-top:40px;

padding:15px 35px;

border:none;

border-radius:10px;

background:#0B5ED7;

color:white;

cursor:pointer;

font-size:17px;

}

button:hover{

background:#4CC9FE;

color:#012A4A;

}

@keyframes rise{

from{

opacity:0;

transform:translateY(250px) scale(.8);

}

to{

opacity:1;

transform:translateY(0) scale(1);

}
}

@media (max-width:768px){

.book{

width:95%;

height:auto;

flex-direction:column;

}

.left,
.right{

width:100%;

}

.left img{

height:250px;

}

.login-box{

width:90%;

}

.loading-box{

width:90%;

}

}

body{

animation:fadePage .8s;

}

@keyframes fadePage{

from{

opacity:0;

}

to{

opacity:1;

}

}