*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI,sans-serif;
}

body{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:linear-gradient(
180deg,
#021526,
#03346E,
#0B5ED7);

overflow:hidden;

}

.book{

display:flex;

width:1000px;

height:650px;

box-shadow:0 25px 60px rgba(0,0,0,.45);

border-radius:18px;

overflow:hidden;

}

.left,
.right{

width:50%;

padding:40px;

background:#fffdf6;

position:relative;

}

.left{

border-right:2px solid #ddd;

}

.left img{

width:100%;

height:430px;

object-fit:cover;

border-radius:12px;

}

.right{

display:flex;

flex-direction:column;

justify-content:center;

}

.right h1{

color:#0B5ED7;

margin-bottom:20px;

}

.right p{

font-family:'Caveat',cursive;

font-size:22px;

line-height:22px;

color:#444;

}

.nav{

position:absolute;

bottom:30px;

right:30px;

display:flex;

gap:10px;

}

button{

padding:12px 25px;

border:none;

border-radius:10px;

background:#0B5ED7;

color:white;

cursor:pointer;

transition:.3s;

}

button:hover{

transform:translateY(-3px);

background:#4CC9FE;

color:#012A4A;

}

.polaroid{

width:320px;

margin:auto;

padding:15px;

background:white;

box-shadow:0 15px 35px rgba(0,0,0,.25);

border-radius:8px;

transform:rotate(-4deg);

cursor:pointer;

transition:.3s;

}

.polaroid:hover{

transform:rotate(0deg) scale(1.03);

}

.polaroid img{

width:100%;

height:360px;

object-fit:cover;

border-radius:5px;

}

.caption{

display:block;

margin-top:15px;

font-family:'Caveat',cursive;

font-size:30px;

color:#444;

text-align:center;

}

.sea-star{

position:absolute;

top:30px;

right:30px;

font-size:35px;

transform:rotate(20deg);

}

.shell{

position:absolute;

bottom:35px;

left:35px;

font-size:35px;

}

.lightbox{

position:fixed;

inset:0;

background:rgba(0,0,0,.85);

display:none;

justify-content:center;

align-items:center;

z-index:999;

}

.lightbox img{

max-width:80%;

max-height:80%;

border-radius:12px;

box-shadow:0 20px 50px rgba(0,0,0,.5);

}

@media (max-width:768px){

.book{

width:95%;

height:auto;

flex-direction:column;

transition: transform .5s ease;

}

.left,
.right{

transition: all .45s ease;
  
width:100%;

}

.left img{

height:250px;

}

.login-box{

width:90%;

}

.loading-box{

width:90%;

}

}

body{

animation:fadePage .8s;

}

@keyframes fadePage{

from{

opacity:0;

}

to{

opacity:1;

}

}

.page-change{

animation:pageChange .6s ease;

}

@keyframes pageChange{

0%{

opacity:1;

transform:scale(1);

}

45%{

opacity:0;

transform:scale(.96);

}

100%{

opacity:1;

transform:scale(1);

}

}
