*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI,sans-serif;
}

body{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:linear-gradient(
180deg,
#021526,
#012A4A,
#000814);

color:white;

overflow:hidden;

}

.overlay{

position:absolute;

width:100%;
height:100%;

background:
radial-gradient(circle,
rgba(76,201,254,.15),
transparent 70%);

animation:pulse 6s infinite;

}

.content{

position:relative;

z-index:2;

text-align:center;

max-width:700px;

padding:20px;

}

#quote{

font-size:52px;

margin-bottom:20px;

opacity:0;

animation:fade 2s forwards;

}

h2{

margin-top:20px;

font-size:42px;

opacity:0;

animation:fade 2s forwards;

animation-delay:2s;

}

h3{

margin-top:15px;

font-size:34px;

color:#7FDBFF;

opacity:0;

animation:fade 2s forwards;

animation-delay:4s;

}

p{

margin-top:30px;

opacity:.8;

animation:fade 2s forwards;

animation-delay:6s;

}

button{

margin-top:40px;

padding:15px 30px;

border:none;

border-radius:10px;

cursor:pointer;

background:#4CC9FE;

font-size:18px;

}

@keyframes fade{

to{

opacity:1;

}

}

@keyframes pulse{

0%{

transform:scale(1);

}

50%{

transform:scale(1.05);

}

100%{

transform:scale(1);

}

}

@media (max-width:768px){

.book{

width:95%;

height:auto;

flex-direction:column;

}

.left,
.right{

width:100%;

}

.left img{

height:250px;

}

.login-box{

width:90%;

}

.loading-box{

width:90%;

}

}

body{

animation:fadePage .8s;

}

@keyframes fadePage{

from{

opacity:0;

}

to{

opacity:1;

}

}