*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI,sans-serif;
}

body{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

overflow:hidden;

background:linear-gradient(
180deg,
#021526,
#03346E,
#0B5ED7
);

color:white;

}

.ocean-light{

position:absolute;

width:100%;
height:100%;

background:radial-gradient(circle at top,
rgba(255,255,255,.18),
transparent 60%);

}

.loading-box{

position:relative;

z-index:5;

width:450px;

text-align:center;

}

.shell{

font-size:90px;

margin-bottom:20px;

animation:float 2.5s ease-in-out infinite;

}

.loading-box h1{

font-size:38px;

margin-bottom:10px;

}

.loading-box p{

margin-bottom:35px;

opacity:.8;

}

.progress{

height:16px;

background:rgba(255,255,255,.15);

border-radius:20px;

overflow:hidden;

}

.progress-bar{

height:100%;

width:0%;

background:linear-gradient(
90deg,
#4CC9FE,
#CAF0F8
);

transition:.05s;

}

#percent{

margin-top:15px;

font-size:20px;

}

.bubbles{

position:absolute;

width:100%;
height:100%;

overflow:hidden;

}

.bubble{

position:absolute;

bottom:-80px;

background:rgba(255,255,255,.2);

border-radius:50%;

animation:up linear infinite;

}

@keyframes up{

0%{

transform:translateY(0);

opacity:.2;

}

100%{

transform:translateY(-120vh);

opacity:1;

}

}

@keyframes float{

0%{

transform:translateY(0px);

}

50%{

transform:translateY(-10px);

}

100%{

transform:translateY(0px);

}

}