body{

margin:0;

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:#021526;

font-family:Segoe UI;

}

.book{

width:700px;

padding:40px;

background:#fffdf6;

border-radius:20px;

text-align:center;

box-shadow:
0 25px 70px rgba(0,0,0,.4);

}

.page{

transition:.8s;

transform-origin:left;

transform-style:preserve-3d;

background:#fffdf8;

border-radius:15px;

box-shadow:0 20px 40px rgba(0,0,0,.15);

padding:35px;

}

.page.flip{

transform:rotateY(-90deg);

opacity:0;

}

img{

width:280px;

height:280px;

object-fit:cover;

border-radius:15px;

margin:25px;

}

h1{

color:#0B5ED7;

}

p{

font-size:18px;

line-height:30px;

}

.buttons{

margin-top:30px;

display:flex;

justify-content:space-between;

}

button{

padding:15px 25px;

border:none;

background:#0B5ED7;

color:white;

border-radius:10px;

cursor:pointer;

transition:.3s;

}

button:hover{

transform:translateY(-3px);

box-shadow:
0 10px 20px rgba(0,0,0,.2);

}